<html>
    <head>
        <title>{{title}}</title>
        <script src="//unpkg.com/mithril/mithril.js"></script>
        <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
    </head>
    <body>
        <div id="root"></div>
        <script data-main="js/page1" src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
        <a-scene cursor="rayOrigin: mouse">
            <a-entity camera wasd-controls="wsAxis: y; wsInverted: true;" position="0 0 0"></a-entity>

            <a-entity light="type: point; color: #ff0000; intensity: 1; distance: 1;" position="0 0 -0.5">
                <a-animation attribute="position"
                dur="1000"
                direction="alternate"
                to="1 0 -1"
                repeat="indefinite"></a-animation>
            </a-entity>

            <a-entity light="type: point; color: #ffffff; intensity: 0.5;" position="0 0 0">
            </a-entity>
            <a-plane position="0 0 -1" rotation="0 0 0" width="1" height="1" material="color: #ff8080; normalMap: NormalMap.png; ambientOcclusionMap: AmbientOcclusionMap.png"></a-plane>
            <a-plane id="p2" position="1 0 -1" rotation="0 0 0" width="1" height="1" material="color: #ffffff; normalMap: NormalMap.png; ambientOcclusionMap: AmbientOcclusionMap.png"></a-plane>
        </a-scene>
        <script>
        document.querySelector('#p2').addEventListener('click', function () {
        console.log('I was clicked!');
        });
        </script>
    </body>
</html>
