<html>
    <head>
    </head>
    <body>
        <script src="//unpkg.com/mithril/mithril.js"></script>
        <script>
            handleReload = function() {
                window.location.reload();
            };

            const data = {
                title: '{{title}}',
                count: '{{counter}}',
                inverted: window.parent.getToggle('inverted')
            }

            m.mount(document.body, {
                view: function() {
                    return [
                        m('h1', data.title),
                        m('h2', data.count),
                        m('div', m('a', { href: 'page2.html' }, '2')),
                        m('button', { onclick: function() {
                            window.parent.doAction({ action: 'countUp' });
                        }}, 'up'),
                        m('button', { onclick: function() {
                            data.inverted = !data.inverted;
                            window.parent.setToggle('inverted', data.inverted);
                        } }, data.inverted ? 'X': 'O')
                    ];
                }
            });
        </script>
    </body>
</html>
